[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pyinstaller = "*"

[packages]
amitools = "*"
pyqt5 = "*"
lhafile = "*"
pyqt5-qt5 = "*"
pyqt5-sip = "*"

[requires]
python_version = "3.11.14"
